@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #cbd5e1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(0deg,
      rgba(0, 0, 0, 0.15) 0px,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent 2px);
  z-index: 9999;
}